@import "tailwindcss";

@theme {
  --color-acid: #ccff00;
  --color-silver: #a1a1aa;
  --color-titanium: #27272a;
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Brutalist strict constraint: NO ROUNDED CORNERS */
* {
  border-radius: 0px !important;
}

/* Custom scrollbar for brutalist look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background); 
  border-left: 1px solid var(--color-titanium);
}
::-webkit-scrollbar-thumb {
  background: var(--color-titanium); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-acid); 
}
