@import "tailwindcss";

@theme {
  --color-acid: #ccff00;
  --color-silver: #a1a1aa;
  --color-titanium: #27272a;
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Brutalist constraint: Default to 0, but allowed for specific utility overrides */
* {
  border-radius: 0px;
}

.rounded-full {
  border-radius: 9999px !important;
}

/* Noise texture for premium look and to fix banding */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: 9999;
  pointer-events: none;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  filter: contrast(150%) brightness(100%);
}

.glass-panel {
  background: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Custom scrollbar for brutalist look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background); 
  border-left: 1px solid var(--color-titanium);
}
::-webkit-scrollbar-thumb {
  background: var(--color-titanium); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-acid); 
}
